/* UNIVERSAL */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Zen+Antique+Soft&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&family=Zen+Kurenaido&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Zen Antique Soft', serif;
font-family: 'Zen Kaku Gothic New', sans-serif;
font-family: 'Zen Kurenaido', sans-serif; */

/* background 26 37	53	 */
/* foreground 41 60	88	 */
/* text 209	216	229	*/

* {
    background: rgba(26 37	53);
}

.App {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: rgba(209, 216, 229);
}

.App h1, h2, h3, h4, h5, h6 {
    font-size: 1.25rem;
}

.app-container {
    max-width: 750px;
    margin: 0 auto;
}

/* NAVBAR */

.logo-link {
    text-decoration: none;
    color: rgba(209, 216, 229);
}

.logo-link:hover {
    color: rgba(209, 216, 229);
    text-decoration: underline;
}

.nav {
    padding: 15px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav h1 {
    font-size: 1.5rem;
}

.navbar-link {
    text-decoration: none;
    font-size: 1.3rem;
    color: rgba(209, 216, 229);
}

.navbar-link:hover {
    color: rgba(209, 216, 229);
    text-decoration: underline;
}

.nav li {
    list-style-type: none;
}

/* RANDOM QUOTE */

.random-quote {
    text-align: center;
    margin: 15px 0 50px 0;
    border-radius: 10px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    background: rgba(41, 60, 88);
    font-weight: bold;
}

.random-quote p {
    background: rgba(41, 60, 88);
}

.author-bold {
    font-weight: 900;
    background: rgba(41, 60, 88);
    font-style: italic;
}

/* INSTRUCTIONS */

.instructions {
    line-height: 30px;
}

/* BOOK FINDER  */

.book-finder {
    padding-top: 15px;
    margin-bottom: 35px;
}

.book-search-form {
    margin-bottom: 35px;
}

.book-search-input {
    margin-bottom: 25px;
}

/* SEARCH RESULTS  */

.card-group {
    justify-content: center;
}

.card {
    margin-bottom: 25px;
    margin-right: 25px;
}

.search-results-button, .book-list-button {
    padding: 10px 0 10px 0;
    background: rgba(209, 216, 229);
    border: none;
    border-radius: 5px;
    transition: All 450ms ease;
    position:relative;
}

.search-results-button:active, .book-list-button:active {
    transition: All 250ms ease;
    background: blue;
    /* top: 3px; */
    position:relative;
}

/* READING LIST  */

.book-list-container {
    margin-bottom: 50px;
}

.book-list-container h2 {
    margin-bottom: 50px;
}

.book-list-card a {
    text-decoration: none;
}

/* FOOTER  */

.footer ul {
    list-style-type: none;
    display:flex;
    justify-content: space-evenly;
}

.footer-link {
    text-decoration: none;
    font-size: 1.3rem;
    color: rgba(209, 216, 229);
}

.footer-link:hover {
    color: rgba(209, 216, 229);
    text-decoration: underline;
}

@media screen and (min-width: 500px) {
    /* .search-results-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }*/
    /* .search-results-cards{
        max-width: 20%;
        display: inline;
        overflow: auto;
        margin: 10px;
    } */

    /* .search-results-cards > div {
        flex-basis: calc(50% - 40px);
    } */
}

